.game__flex {
  display: flex; }

.field {
  position: relative;
  background-color: #ccc;
  max-width: 375px;
  height: 745px;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  border: 2px solid #ccc;
  padding-top: 2px; }
  .field__cell {
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    margin: -1px; }
  .field .figures__i {
    top: 1px;
    left: 1px; }
  .field .figures__i.shadow {
    top: 591px !important;
    left: 2px !important; }
  .field .figures__t {
    bottom: 2px;
    right: 4px; }

.game__figures-cont .figures__cell {
  width: 30px;
  height: 30px;
  border-radius: 3px; }
.game__figures-cont .figures__z.figures__next-vert {
  display: flex;
  max-height: 117px; }
  .game__figures-cont .figures__z.figures__next-vert .figures__block {
    display: block; }
    .game__figures-cont .figures__z.figures__next-vert .figures__block:first-child {
      padding-left: 0;
      padding-top: 32px; }
    .game__figures-cont .figures__z.figures__next-vert .figures__block:last-child {
      padding: 0; }
.game__figures-cont .figures__s.figures__next-vert {
  display: flex;
  max-height: 117px; }
  .game__figures-cont .figures__s.figures__next-vert .figures__block {
    display: block; }
    .game__figures-cont .figures__s.figures__next-vert .figures__block:last-child {
      padding-left: 0;
      padding-top: 32px; }
    .game__figures-cont .figures__s.figures__next-vert .figures__block:first-child {
      padding: 0; }

.game__figures-cont {
  width: 800px;
  margin-left: 20px; }

.game__next-figures {
  max-width: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  align-self: unset;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-left: 30px; }

.game__next-vert {
  margin-top: 20px;
  max-width: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  align-self: unset;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-left: 30px; }
  .game__next-vert .figures__next-vert {
    margin: 10px; }

.figures {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 10px auto; }
  .figures__cell {
    width: 35px;
    height: 35px;
    border-radius: 4px; }
  .figures__i.horiz {
    position: relative;
    display: flex;
    max-height: 39px; }
  .figures__j.horiz {
    display: flex;
    position: relative;
    flex-wrap: wrap-reverse;
    max-height: 78px; }
  .figures__o {
    display: flex;
    position: relative;
    max-height: 78px; }
  .figures__l.horiz {
    display: flex;
    position: relative;
    flex-wrap: wrap-reverse;
    max-height: 78px; }
  .figures__z.horiz {
    position: relative;
    max-height: 39px; }
    .figures__z.horiz .figures__block {
      display: flex; }
      .figures__z.horiz .figures__block:last-child {
        padding-left: 37px; }
  .figures__t.horiz {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    max-height: 78px; }
  .figures__s.horiz {
    position: relative; }
    .figures__s.horiz .figures__block {
      display: flex; }
      .figures__s.horiz .figures__block:first-child {
        padding-left: 37px; }
  .figures__i.vert {
    position: relative;
    display: block;
    max-height: 128px; }
  .figures__j.vert {
    display: block;
    position: relative;
    flex-wrap: wrap-reverse;
    max-height: 78px; }
    .figures__j.vert .figures__block {
      display: flex; }
  .figures__l.vert {
    display: block;
    position: relative;
    flex-wrap: wrap-reverse;
    max-height: 78px; }
    .figures__l.vert .figures__block {
      display: flex; }
  .figures__z.vert {
    display: flex;
    max-height: 117px; }
    .figures__z.vert .figures__block {
      display: block; }
      .figures__z.vert .figures__block:first-child {
        padding-left: 0;
        padding-top: 39px; }
      .figures__z.vert .figures__block:last-child {
        padding: 0; }
  .figures__t.vert {
    position: relative;
    display: block;
    flex-wrap: wrap-reverse;
    max-height: 117px; }
    .figures__t.vert .figures__block {
      display: flex; }
  .figures__s.vert {
    display: flex;
    max-height: 117px; }
    .figures__s.vert .figures__block {
      display: block; }
      .figures__s.vert .figures__block:last-child {
        padding-left: 0;
        padding-top: 39px; }
      .figures__s.vert .figures__block:first-child {
        padding: 0; }

.blue .figures__cell {
  background: linear-gradient(318deg, #1870df 50%, #1d88e6 50%);
  border: 1px solid #0700d8;
  box-shadow: inset 0 0 1px 1px #b3b3fb; }

.orange .figures__cell {
  background: linear-gradient(318deg, #ff842a 50%, #ff9c2f 50%);
  border: 1px solid #d89000;
  box-shadow: inset 0 0 1px 1px #fbe3b3; }

.violet .figures__cell {
  background: linear-gradient(318deg, #9859f3 50%, #ac6af3 50%);
  border: 1px solid #9001d8;
  box-shadow: inset 0 0 1px 1px #e3b3fb; }

.red .figures__cell {
  background: linear-gradient(318deg, #e63520 50%, #f24c2a 50%);
  border: 1px solid #d80700;
  box-shadow: inset 0 0 1px 1px #fbb3b3; }

.yellow .figures__cell {
  background: linear-gradient(318deg, #ffda3f 50%, #fff77b 50%);
  border: 1px solid #d8d801;
  box-shadow: inset 0 0 1px 1px #c1c185; }

.green .figures__cell {
  background: linear-gradient(318deg, #52bf39 50%, #68d043 50%);
  border: 1px solid #01d800;
  box-shadow: inset 0 0 1px 1px #b3fbb3; }

.cyan .figures__cell {
  background: linear-gradient(318deg, #21c3dc 50%, #4ddceb 50%);
  border: 1px solid #01d8d8;
  box-shadow: inset 0 0 1px 1px #b3fbfb; }

.shadow .figures__cell {
  border: none;
  box-shadow: inset 0 0 7px 2px #0cb1d7;
  background: none;
  border-radius: 0;
  width: 37px;
  height: 37px;
  opacity: .75; }

.on-field {
  position: absolute !important;
  z-index: 10 !important; }

/*# sourceMappingURL=index.css.map */
